{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Informasi Kesehatan</title>
{% endblock meta %}

{% block content %}

<style>
  .card {
    transition: 0.5 ease;
    cursor: pointer;
  }
  .card:hover {
    transform: scale(1.2);
  }
  h6,h5,h4,h3,h2,h1 {
    cursor: pointer;
  }

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function() {
  $("button").click(function(){
    $(".card-container").empty();
    var health = document.getElementById("hari").value;
    $("#hari").val("");

    $.ajax({
      url: "/health-records/json",
      success: function(result) {
        for(i=0; i<result.length; i++){
          var data = result[i].fields;
          if(health == data.hari){
            $(".card-container" ).append(
              '<div style="display: flex; flex-wrap:wrap; gap: 50px;justify-content: center;">'+
              '<div class="card" style="width: 25%; background-color: rgb(13, 23, 63); margin-bottom: 2cm; box-shadow: 5px 5px 15px rgb(0, 0, 0, 9); border-radius: 18px;"><div class="card-body">'+
                '<h3 class="card-title" style="color: white; text-align: center">'+'Hari ke-'+ data.hari+'</h3>'+
                '<hr style="color: white;">'+
                '<p class="card-text" style="color: white;text-align: center;">'+'Tanggal : '+ data.tanggal+'</p>'+
                '<p class="card-text" style="color: white;text-align: center;">'+'Suhu : '+ data.suhu+'°C'+'</p>'+
                '<p class="card-text" style="color: white;text-align: center;">'+'Sistolik : '+ data.sistolik+'mg/dl'+'</p>'+
                '<p class="card-text" style="color: white;text-align: center;">'+'Diastolik : '+ data.diastolik+'mg/dl'+'</p>'+
                '<p class="card-text" style="color: white;text-align: center;">'+'Detak Jantung : '+ data.jantung+'mg/dl'+'</p>'+
                '<p class="card-text" style="color: white;text-align: center;">'+'Saturasi : '+ data.saturasi+'mmHg'+'</p>'+
                '</div></div></div>');
          }
        }
      }
    });
  }); 
});
</script>

<header class="header-area header-sticky wow slideInDown">
  <div class="container">
    <div class="row">
      <nav class="main-nav"> 
        <!-- ***** Logo Start ***** -->
        <a href="{% url 'main:home' %}" class="logo">
          <img src="{%static 'assets/images/logo.png' %}" alt="Covid Assistant ">
        </a> 
        <!-- ***** Logo End ***** -->

        <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section"><a href="{% url 'main:home' %}">Home</a></li>
            <li class="scroll-to-section"><a href="{% url 'main:home' %}">About Us</a></li>
            <li class="scroll-to-section"><a href="{% url 'main:home' %}">Features</a></li>
            <li class="scroll-to-section"><a href="{% url 'main:home' %}">Feedback</a></li>
            <li class="scroll-to-section"><a href="#footer">Contact Us</a></li>
            
            <li style="color: #fff; padding-top: 8px;"><i class="fa fa-sign-out" aria-hidden="true"></i> Hi, {{ user.get_username }}</li>
            <li class="scroll-to-section"><div class="border-first-button"><a href="/authentication/log-out">Logout</a></div></li> 
          </ul>         
        <!-- ***** Menu End ***** -->
        
      </nav>
    </div>
  </div>
</header>

<div class="main-banner">
  <div class="card-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h6>COVID ASSISTANT</h6>
                    <h2>Health Record</h2>
                    <p>Health Records adalah salah satu fitur yang dimiliki oleh Covid Assistant. Dengan adanya fitur ini Anda dapat mencatat komponen kesehatan. Ketika pasien covid sedang isolasi mandiri, mereka juga harus memperhatikan kesehatan mereka dengan memeriksa beberapa komponen kesehatan, seperti suhu, tensi, dan saturasi. Mereka bisa memanfaatkan fitur ini untuk mencatat serta tracking kesehatan mereka. Fitur ini menyediakan form untuk user mengisi catatan kesehatan mereka, serta user juga bisa langsung melihat ringkasan catatan kesehatannya. </p>
                  </div>
                  <div class="col-lg-12"> 
                    <div style="padding-bottom: 10px; margin-bottom: 10px;" class="border-first-button scroll-to-section">
                      <a style="padding-bottom: 10px;" href="#info"> Information</a>
                      <a style="padding-bottom: 10px;" href="/health-records/add">Add </a>
                      <a style="padding-bottom: 10px;" href="#ringkasan">Summary </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight">
                <img src="{%static 'assets/images/Health Record.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <h1 id="info"></h1>
      <div class="container-fluid" style=" background-color: rgb(6, 12, 35);">
        <div class="col-lg-12" style="display: flex; flex-wrap:wrap; gap: 50px;justify-content: center; padding-top: 50px; padding-bottom: 50px;">
          <div style="font-family: 'Poppins'; text-align: center;" class="section-heading  wow fadeInDown" >
            <h6>COVID ASSISTANT</h6>
            <h4 style="color: white; display: flex; flex-wrap:wrap; gap: 50px;justify-content: center;">
              Health Information</h4>
          </div>
        </div>
      </div>
      <div style="display: flex; flex-wrap:wrap; gap: 50px;justify-content: center;">
          <div class="card" style="width: 25%; background-color: #E8F7FC; margin-bottom: 2cm; box-shadow: 5px 5px 15px rgb(0, 0, 0, 9); border-radius: 18px; ">
          <div class = "card-body">
            <h3 class="card-title" style="color: rgb(6, 12, 35); text-align: center"> SUHU </h3>
            <hr style="color: rgb(6, 12, 35);">
            <h6 class="card-text" style="color: rgb(6, 12, 35);text-align: center; ">Rendah</h6>
            <h4 class="card-text" style="color: rgb(6, 12, 35);text-align: center;"> < 35°C </h4>
            <hr style="color: rgb(6, 12, 35);">
            <h6 class="card-text" style="color: rgb(6, 12, 35);text-align: center; ">Normal</h6>
            <h4 class="card-text" style="color: rgb(6, 12, 35);text-align: center;"> 35-40°C </h4>
            <hr style="color: rgb(6, 12, 35);">
            <h6 class="card-text" style="color: rgb(6, 12, 35);text-align: center; ">Tinggi</h6>
            <h4 class="card-text" style="color: rgb(6, 12, 35);text-align: center;"> >40°C </h4>
          </div>
          </div>
          <div class="card" style="width: 25%; background-color: #E8F7FC; margin-bottom: 2cm; box-shadow: 5px 5px 15px rgb(0, 0, 0, 9); border-radius: 18px; ">
            <div class = "card-body">
              <h3 class="card-title" style="color: rgb(6, 12, 35); text-align: center"> DETAK JANTUNG </h3>
              <hr style="color: rgb(6, 12, 35);">
              <h6 class="card-text" style="color: rgb(6, 12, 35);text-align: center; ">Rendah</h6>
              <h4 class="card-text" style="color: rgb(6, 12, 35);text-align: center;"> ≤50mg/dl </h4>
              <hr style="color: rgb(6, 12, 35);">
              <h6 class="card-text" style="color: rgb(6, 12, 35);text-align: center; ">Normal</h6>
              <h4 class="card-text" style="color: rgb(6, 12, 35);text-align: center;"> 50-70mg/dl </h4>
              <hr style="color: rgb(6, 12, 35);">
              <h6 class="card-text" style="color: rgb(6, 12, 35);text-align: center; ">Tinggi</h6>
              <h4 class="card-text" style="color: rgb(6, 12, 35);text-align: center;"> >70mg/dl </h4>
            </div>
          </div>
          <div class="card" style="width: 25%; background-color: #E8F7FC; margin-bottom: 2cm; box-shadow: 5px 5px 15px rgb(0, 0, 0, 9); border-radius: 18px; ">
            <div class = "card-body">
              <h3 class="card-title" style="color: rgb(6, 12, 35); text-align: center"> SATURASI </h3>
              <hr style="color: rgb(6, 12, 35);">
              <h6 class="card-text" style="color: rgb(6, 12, 35);text-align: center; ">Rendah</h6>
              <h4 class="card-text" style="color: rgb(6, 12, 35);text-align: center;"> <80mmHg </h4>
                <hr style="color: rgb(6, 12, 35);">
                <h6 class="card-text" style="color: rgb(6, 12, 35);text-align: center; ">Normal</h6>
                <h4 class="card-text" style="color: rgb(6, 12, 35);text-align: center;"> 80–100 mmHg </h4>
                <hr style="color: rgb(6, 12, 35);">
                <h6 class="card-text" style="color: rgb(6, 12, 35);text-align: center; ">Tinggi</h6>
                <h4 class="card-text" style="color: rgb(6, 12, 35);text-align: center;"> >120mmHg </h4>
              </div>
            </div>
            <div class="card" style="width: 25%; background-color: #E8F7FC; margin-bottom: 2cm; box-shadow: 5px 5px 15px rgb(0, 0, 0, 9); border-radius: 18px; ">
              <div class = "card-body">
                <h3 class="card-title" style="color: rgb(6, 12, 35); text-align: center"> SISTOLIK </h3>
                <hr style="color: rgb(6, 12, 35);">
                <h6 class="card-text" style="color: rgb(6, 12, 35);text-align: center; ">Hypo</h6>
                <h4 class="card-text" style="color: rgb(6, 12, 35);text-align: center;"> ≤89mg/dl </h4>
                <hr style="color: rgb(6, 12, 35);">
                <h6 class="card-text" style="color: rgb(6, 12, 35);text-align: center; ">Normal</h6>
                <h4 class="card-text" style="color: rgb(6, 12, 35);text-align: center;"> 71-140mg/dl </h4>
                <hr style="color: rgb(6, 12, 35);">
                <h6 class="card-text" style="color: rgb(6, 12, 35);text-align: center; ">Waspada</h6>
                <h4 class="card-text" style="color: rgb(6, 12, 35);text-align: center;"> 140-200mg/dl </h4>
                <hr style="color: rgb(6, 12, 35);">
                <h6 class="card-text" style="color: rgb(6, 12, 35);text-align: center; ">Bahaya</h6>
                <h4 class="card-text" style="color: rgb(6, 12, 35);text-align: center;"> ≥200mg/dl </h4>
              </div>
              </div>
              <div class="card" style="width: 25%; background-color: #E8F7FC; margin-bottom: 2cm; box-shadow: 5px 5px 15px rgb(0, 0, 0, 9); border-radius: 18px; ">
              <div class = "card-body">
                <h3 class="card-title" style="color: rgb(6, 12, 35); text-align: center"> DIASTOLIK </h3>
                <hr style="color: rgb(6, 12, 35);">
                <h6 class="card-text" style="color: rgb(6, 12, 35);text-align: center; ">Hypo</h6>
                <h4 class="card-text" style="color: rgb(6, 12, 35);text-align: center;"> ≤60mg/dl </h4>
                <hr style="color: rgb(6, 12, 35);">
                <h6 class="card-text" style="color: rgb(6, 12, 35);text-align: center; ">Normal</h6>
                <h4 class="card-text" style="color: rgb(6, 12, 35);text-align: center;"> 60-80mg/dl </h4>
                <hr style="color: rgb(6, 12, 35);">
                <h6 class="card-text" style="color: rgb(6, 12, 35);text-align: center; ">Waspada</h6>
                <h4 class="card-text" style="color: rgb(6, 12, 35);text-align: center;"> 80-90mg/dl </h4>
                <hr style="color: rgb(6, 12, 35);">
                <h6 class="card-text" style="color: rgb(6, 12, 35);text-align: center; ">Bahaya</h6>
                <h4 class="card-text" style="color: rgb(6, 12, 35);text-align: center;"> ≥90mg/dl </h4>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    


<h1 id="ringkasan"></h1>
<div class="container-fluid" style="background-color: #E8F7FC;">
    <div class="col-lg-12" style="display: flex; flex-wrap:wrap; gap: 50px;justify-content: center; padding-top: 100px; padding-bottom: 70px;">
      <div style="font-family: 'Poppins'; text-align: center;" class="section-heading  wow fadeInDown" >
        <h6 style="display: flex; flex-wrap:wrap; gap: 50px;justify-content: center;">COVID ASSISTANT</h6>
        <h4 style="display: flex; flex-wrap:wrap; gap: 50px;justify-content: center;"> Health Records Summary</h4>
        <p style="display: flex; flex-wrap:wrap; gap: 50px;justify-content: center; color: rgb(13, 23, 63); font-family: 'Poppins';" >Tracking kesehatan Anda hanya dengan dirumah saja</p>
        <select style="width: 40%; border-radius: 5px; background-color: white; border-left: rgb(13, 23, 63); box-shadow: 5px 5px 10px rgb(0, 0, 0, 9);" class="pilihhari" id="hari" name="hari">
          <option id="placeholder" value="" disable selected hidden>Pilih Hari</option>
          {% for i in health %}
          <option value="{{i.hari}}">Hari ke-{{i.hari}}</option>
          {% endfor %}
        </select>
        <button style="color:white; width: 20%; background:rgb(13, 23, 63); box-shadow: 5px 5px 10px rgb(0, 0, 0, 9); border-radius: 15px; " type="button" class="tampilkan">Search</button>
      </div>
    </div>
  </div>
  
  <div class="card-container">
    <div style="display: flex; flex-wrap:wrap; gap: 50px;justify-content: center;">
  <a style="color:rgb(13, 23, 63); padding-bottom: 50px;" href="#Semuaringkasan"> All Summary</a>
    </div>
  </div>
  
<h1 id="Semuaringkasan"></h1>
<div class="container-fluid" style="background-color: #E8F7FC;">
    <div class="col-lg-12" style="display: flex; flex-wrap:wrap; gap: 50px;justify-content: center; padding-top: 100px; padding-bottom: 70px;">
      <div style="font-family: 'Poppins'; text-align: center;" class="section-heading  wow fadeInDown" >
        <h6 style="display: flex; flex-wrap:wrap; gap: 50px;justify-content: center;">COVID ASSISTANT</h6>
        <h4 style="display: flex; flex-wrap:wrap; gap: 50px;justify-content: center;"> All Health Records Summary</h4>
      </div>
    </div>
  </div>
  <div style="display: flex; flex-wrap:wrap; gap: 50px;justify-content: center;">
    {% for i in health %}
    <div class="card" style="width: 25%; background-color: rgb(13, 23, 63); margin-bottom: 2cm; box-shadow: 5px 5px 15px rgb(0, 0, 0, 9); border-radius: 18px;">
      <div class = "card-body">
        <h1 class="card-title" style="color: white; text-align: center"> Hari ke-{{ i.hari }} </h1>
        <p class="card-text"  style="color: white;text-align: center;"> {{ i.tanggal }} </p>
        <hr style="color: white;">
        <p class="card-text" style="color: white;text-align: center;">SUHU</p>
        <h4 class="card-text" style="color: white;text-align: center;">{{ i.suhu }}°C </h4>
        <hr style="color: white;">
        <p class="card-text" style="color: white;text-align: center;">SISTOLIK</p>
        <h4 class="card-text" style="color: white;text-align: center;">{{ i.sistolik }}mg/dl </h4>
        <hr style="color: white;">
        <p class="card-text" style="color: white;text-align: center;">DIASTOLIK</p>
        <h4 class="card-text" style="color: white;text-align: center;">{{ i.diastolik }}mg/dl </h4>
        <hr style="color: white;">
        <p class="card-text" style="color: white;text-align: center;">DETAK JANTUNG</p>
        <h4 class="card-text" style="color: white;text-align: center;">{{ i.jantung }}mg/dl </h4>
        <hr style="color: white;">
        <p class="card-text" style="color: white;text-align: center;">SATURASI</p>
        <h4 class="card-text" style="color: white;text-align: center;">{{ i.saturasi }}mmHg </h4>
        <hr style="color: white;">
      </div>
     </div>
    {% endfor %}
  </div>

  <footer id= "footer" class="footer">
    <div id= "container-footer" class="container">
      <div class="row">
        <div class="footer-col">
          <h4>COVID ASSISTANT</h4>
          <ul>
            <!-- masih belum bisa di klik -->
            <li style="list-style: none;"><a href="{% url 'main:home' %}">About Us</a></li>
            <li style="list-style: none;"><a href="{% url 'main:home' %}">Fitur Kami</a></li>
            <li style="list-style: none;"><a href="{% url 'main:home' %}">Tim Kami</a></li>
          </ul>
        </div> 
        <div class="footer-col">
          <h4>CONTACT US</h4>
          <ul>
            <li style="list-style: none;"><a style="color: #bbbbbb;"><i id class="fa fa-envelope"></i> covid.assistant@coass.com</a></li>
            <li style="list-style: none;"><a style="color: #bbbbbb;" ><i class="fa fa-phone"></i> 021-9272-8161</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>OUR SOCIAL MEDIA</h4>
          <ul>
            <li style="list-style: none;"><a style="color: #bbbbbb;"><i id class="fa fa-facebook"></i> Covid Assistant</a></li>
            <li style="list-style: none;"><a style="color: #bbbbbb;" ><i class="fa fa-instagram"></i> @covid_assistant</a></li>
            <li style="list-style: none;"><a style="color: #bbbbbb;" ><i class="fa fa-twitter"></i> @covid_assistant</a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>

{% endblock content %}
